<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Member List</h1>
    <br>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>이름</th>
            <th>나이</th>
            <th>주소</th>
            <th>수정</th>
            <th>삭제</th>
        </tr>
        <tr th:each="member : ${memberDto}">
            <td th:text="${member.id}"></td>
            <td th:text="${member.name}"></td>
            <td th:text="${member.age}"></td>
            <td th:text="${member.address}"></td>
            <td>
                <form th:action="@{/member/update}" method="get">
                    <input type="hidden" name="updateId" th:value="${member.id}">
                    <input type="submit" value="수정">
                </form>
            </td>
            <td>
                <form th:action="@{/member/delete}" method="post">
                    <input type="hidden" name="deleteId" th:value="${member.id}">
                    <input type="submit" value="삭제">
                </form>
            </td>
        </tr>
    </table>
    <br>
    <form th:action="@{/member/insertForm}" method="get">
        <input type="submit" value="신규회원입력">
    </form>
    <form th:action="@{/member/search}" method="get">
        <select name="type">
            <option selected value="">검색 내용 선택</option>
            <option value="name">이름</option>
            <option value="address">주소</option>
        </select>
        <input type="text" name="keyword" value="" placeholder="검색어를 입력하세요">
        <input type="submit" value="검색">
    </form>
</body>
</html>